.custom-button{
        background-color: black;
        color:white;

        text-transform: uppercase;
        font-weight: bolder;
        font-size: 15px;
        letter-spacing: 0.5px;
        font-family: 'Open Sans Condensed';
        // line-height: 50px; ??? idunerstant what is this
        
        min-width: 165px;
        width: auto;
        height: 50px;

        border: none;
        padding: 0 35px 0 35px;
        // margin: 20px;

        cursor: pointer;
        
        &:hover{
            background-color: white;
            color: black;
            border: 1px solid black;
        }

        &.color{
            background-color: #4285f2;
            color: white;
            &:hover{
                background-color:#357ae0;
                border: none;
            }
        }
    }
