// .directory-menu {
//     width: 80%;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//   }

  .directory-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }